.container {
  display: flex;
  justify-content: center;
}

.loader {
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 10px solid;
  border-color: #00ff87 #00422357;
  animation: 1.5s spin infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
